# Latihan 4 - Jemima AP - 022

In [1]:
import pandas as pd
import numpy as np

In [2]:
#memanggil data sheet 1
data = pd.read_excel('data4.xlsx',sheet=1)

In [3]:
#menampilkan data
data.head(n=5)

   Age  Gender    TB   DB  Alkaline  Alamine  Aspartate   TP  ALB   A/G  Class
0   65  Female   0.7  0.1       187       16         18  6.8  3.3  0.90      1
1   62    Male  10.9  5.5       699       64        100  7.5  3.2  0.74      1
2   62    Male   7.3  4.1       490       60         68  7.0  3.3  0.89      1
3   58    Male   1.0  0.4       182       14         20  6.8  3.4  1.00      1
4   72    Male   3.9  2.0       195       27         59  7.3  2.4  0.40      1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
Age          583 non-null int64
Gender       583 non-null object
TB           583 non-null float64
DB           583 non-null float64
Alkaline     583 non-null int64
Alamine      583 non-null int64
Aspartate    583 non-null int64
TP           583 non-null float64
ALB          583 non-null float64
A/G          579 non-null float64
Class        583 non-null int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [5]:
data = data.replace(' ', np.nan)

In [6]:
data['Gender'].value_counts()

Male      441
Female    142
Name: Gender, dtype: int64

In [7]:
#menghitung missing value
data.isnull().sum()

Age          0
Gender       0
TB           0
DB           0
Alkaline     0
Alamine      0
Aspartate    0
TP           0
ALB          0
A/G          4
Class        0
dtype: int64

In [8]:
data['A/G'].describe()

count    579.000000
mean       0.947064
std        0.319592
min        0.300000
25%        0.700000
50%        0.930000
75%        1.100000
max        2.800000
Name: A/G, dtype: float64

In [9]:
#imputasi missing value
data['A/G']=data['A/G'].fillna((data['A/G'].median()))

In [10]:
#ENCODE DATA
from sklearn.preprocessing import LabelEncoder

In [11]:
data['Gender'] = LabelEncoder().fit_transform(data['Gender'])
data.head()

   Age  Gender    TB   DB  Alkaline  Alamine  Aspartate   TP  ALB   A/G  Class
0   65       0   0.7  0.1       187       16         18  6.8  3.3  0.90      1
1   62       1  10.9  5.5       699       64        100  7.5  3.2  0.74      1
2   62       1   7.3  4.1       490       60         68  7.0  3.3  0.89      1
3   58       1   1.0  0.4       182       14         20  6.8  3.4  1.00      1
4   72       1   3.9  2.0       195       27         59  7.3  2.4  0.40      1

In [15]:
#Feature Selection
y = data['Class']
x = data.drop(['Class'], axis=1)

In [16]:
# Feature Importance with Extra Trees Classifier
from sklearn.ensemble import ExtraTreesClassifier
# feature extraction
model = ExtraTreesClassifier(random_state=99)
model.fit(x, y)
print(model.feature_importances_)

[0.10910865 0.02606769 0.10228106 0.10797184 0.11408428 0.12193291
 0.11076172 0.09022096 0.11303028 0.1045406 ]

C:\Users\Laptop\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [18]:
#PCA
X = x.drop(['Gender'], axis=1)
X.head()

   Age    TB   DB  Alkaline  Alamine  Aspartate   TP  ALB   A/G
0   65   0.7  0.1       187       16         18  6.8  3.3  0.90
1   62  10.9  5.5       699       64        100  7.5  3.2  0.74
2   62   7.3  4.1       490       60         68  7.0  3.3  0.89
3   58   1.0  0.4       182       14         20  6.8  3.4  1.00
4   72   3.9  2.0       195       27         59  7.3  2.4  0.40

In [19]:
from sklearn.decomposition import PCA

In [20]:
# feature extraction
pca = PCA(n_components=2)
fit = pca.fit(X)

In [21]:
# summarize components
print(fit.components_)

[[-1.12154220e-03  5.00370869e-03  2.47199716e-03  2.44578754e-01
   4.75832700e-01  8.44826604e-01 -1.14490714e-04 -2.39480315e-04
  -8.98853396e-05]
 [ 6.50180849e-03  3.26871532e-03  1.73018803e-03  9.69400419e-01
  -1.37588088e-01 -2.03165152e-01 -8.10006805e-05 -4.74207297e-04
  -2.90812451e-04]]

In [22]:
#Recursive
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [23]:
model = LogisticRegression()
rfe = RFE(model, 3)
fit = rfe.fit(X, y)
print("Num Features: %s" % (fit.n_features_))
print("Selected Features: %s" % (fit.support_))
print("Feature Ranking: %s" % (fit.ranking_))

Num Features: 3
Selected Features: [False False  True False False False  True  True False]
Feature Ranking: [3 5 1 7 4 6 1 1 2]

C:\Users\Laptop\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Laptop\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Laptop\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Laptop\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Laptop\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Laptop\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Laptop\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [24]:
feature_summary_rfm = pd.DataFrame({'feature_list': X.columns, 'feature_ranking': fit.ranking_, 'selected_features': fit.support_})

In [25]:
feature_summary_rfm = feature_summary_rfm.sort_values('feature_ranking')
feature_summary_rfm

  feature_list  feature_ranking  selected_features
2           DB                1               True
6           TP                1               True
7          ALB                1               True
8          A/G                2              False
0          Age                3              False
4      Alamine                4              False
1           TB                5              False
5    Aspartate                6              False
3     Alkaline                7              False